body{
	background-color: #F2A1;
}
h1{
background-color: #F2A1;


}
h2{
	background-color: #F2A5;
}
h3{
	background-color: #F2A7;
}
a{
	background-color: #F2A3;
}

.gen{
	color:blue;
	
}

#x{color:red;
#z{color:red;
}